*{
    margin:0;
    top:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* variáveis */
    --fundoDia: url(assets/bg-desktop-light.jpg);
    --fundoNoite: url(assets/bg-desktop.jpg);
    --avatarDia: url(assets/avatar-light.png);
    --avatarNoite: url(assets/avatar.png);
    --corDaBorda: grey;
    --corDaFonte: black;
}

body{
    /*background-image: var(--fundoDia); /*default*/
    background-repeat: no-repeat;
    background-size: cover;
}

.fundoDia{
    background-image: var(--fundoDia);
}

.fundoNoite{
    background-image: var(--fundoNoite);
}

.divmain{
    /* div principal da janela */
}

.divBox{
    /* div define a caixa central onde ficam os elementos principais */
    border: 1px solid var(--corDaBorda);
    width: 33%;
}

.divAvatar{
    /* Caixa para adequar o avatar*/
}

.divBtnSlider{
    /* Botao slider - troca a cor do tema */
}

.divLinks li{
    /* botões dos links */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    list-style: none;
    border: 1px solid red;
}

.divIcones{
    /* Ícones com links */
}

.roundedBorderPicture{
    /* Cria moldura arredondada em torno das imagens */
    border-radius: 50%;
    border: 1px solid white;
    width: 250px;
}

.slider{
    /* define a aparencia do botao slider */
    appearance: none;
    border: 1px solid var(--corDaBorda);
    width: 100px;
    height: 25px;
    --webkit-height: 25px;
}

a:link{
    text-decoration: none;
    border: 1px dotted rgb(0, 195, 255);
    color: var(--corDaFonte);
}

a:visited{
    text-decoration: none;
    border: 1px dotted rgb(0, 255, 21);
    color: var(--corDaFonte);
}