*{
    margin:0;
    top:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* variáveis */
    --fundoDia: url(assets/bg-desktop-light.jpg);
    --fundoNoite: url(assets/bg-desktop.jpg);
    --avatarDia: url(assets/avatar-light.png);
    --avatarNoite: url(assets/avatar.png);
    --corDaBordaDia: black;
    --corDaBordaNoite: white;
    --corDaFonteDia: black;
    --corDaFonteNoite: white;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

.fundoDia{
    /* tela de fundo clara */
    background-image: var(--fundoDia);
}

.fundoNoite{
    /* tela de fundo escura */
    background-image: var(--fundoNoite);
}

.bordaDia .divBox, .bordaDia .roundedBorderPicture, .bordaDia .divBtnSlider, .bordaDia a, .bordaDia .sliderDia, .bordaDia .divLinks li{
    /* borda da caixa box e contorno da foto */
    border: 1px solid var(--corDaBordaDia);
    color: var(--corDaFonteDia);
}

.bordaNoite .divBox, .bordaNoite .roundedBorderPicture, .bordaNoite .divBtnSlider, .bordaNoite a, .bordaNoite .divLinks li, .bordaNoite .sliderNoite{
    /* borda da caixa box e contorno da foto */
    border: 2px solid var(--corDaBordaNoite);
    color: var(--corDaFonteNoite);
}

.divMain{
    /* div principal da janela */
    display: flex;
    justify-content: center;
    width: 100%;
}

.divBox{
    /* div define a caixa central onde ficam os elementos principais */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px solid var(--corDaBordaDia);*/
    width: 300px;
}

.divAvatar{
    /* Caixa para adequar o avatar*/
    text-align: center;
    padding: 20px;
}

.divBtnSlider{
    /* Botao slider - troca a cor do tema */
    margin-left: 33%; /* ------------ verificar pq nao alinha ao centro ------- */
    width: 100px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: 25px;
}

.sliderDia{
    background-image: url("assets/sun.svg");
    background-position: left;  
}

.sliderNoite{
    background-image: url("assets/moon-stars.svg");
    background-position: right; 
}

.divLinks li{
    /* botões dos links */
    display: flex;
    /*flex-direction: column;*/
    justify-content: center; /* eixo horizontal*/
    align-items: center; /*eixo vertical*/
    height: 50px;
    width: 80%;
}

.divIcones li{
    /* Ícones com links */
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.roundedBorderPicture{
    /* Cria moldura arredondada em torno das imagens */
    border-radius: 50%;
    /*border: 2px solid var(--corDaBorda);*/
    width: 150px;
}

.slider{
    /* define a aparencia do botao slider */
    appearance: none;
    /*border: 1px solid var(--corDaBorda);*/
    width: 100px;
    height: 25px;
    --webkit-height: 25px;
}

ul{
    list-style: none;
}

a:link{
    text-decoration: none;
    border: 1px dotted rgb(0, 195, 255);
}

a:visited{
    text-decoration: none;
    border: 1px dotted rgb(0, 255, 21);
}